[submodule "pipeline/000-surpi-barcode"]
	path = pipeline/000-surpi-barcode
	url = https://github.com/xihh87/surpi-barcode
[submodule "pipeline/001-trimmomatic"]
	path = pipeline/001-trimmomatic
	url = https://github.com/xihh87/mk-trimmomatic
	branch = filter-out-low-quality
[submodule "pipeline/002-prinseq"]
	path = pipeline/002-prinseq
	url = https://github.com/xihh87/surpi-preprocess
[submodule "pipeline/002-prinseq/"]
	branch = barcodes
[submodule "pipeline/003-filter-human-out"]
	path = pipeline/003-filter-human-out
	url = https://github.com/xihh87/snap-align
	branch = filter-human-out
[submodule "pipeline/004-fast-mode"]
	path = pipeline/004a-fast-mode
	url = https://github.com/xihh87/snap-align
	branch = align-fast-reference
[submodule "pipeline/005-merge-sort-sams"]
	path = pipeline/005-merge-sort-sams
	url = https://github.com/xihh87/mk-merge-sams.git
[submodule "pipeline/007-surpi-annotate"]
	path = pipeline/007-surpi-annotate
	url = https://github.com/xihh87/mk-surpi-annotate.git
[submodule "pipeline/004-paired-align-nt"]
	path = pipeline/004b-comp-mode-align-nt
	url = https://github.com/xihh87/mk-snap-align.git
[submodule "pipeline/mksurpi-merge-nt"]
	path = pipeline/005b-merge-nt
	url = https://github.com/xihh87/mksurpi-merge-nt.git
[submodule "pipeline/006b-sort"]
	path = pipeline/006b-sort
	url = https://github.com/xihh87/mk-sambamba-sort.git
